#auth-form {
	width:220px;
	padding:10px;
	margin: 10px auto;
	position:relative;
}

#auth-form h3 {
	font-size:42px;
	margin:0;
}

#auth-form input,
#auth-form select,
#auth-form textarea,
#auth-form label {
	font-size:15px;
	margin-bottom:2px;
}

#auth-form input,
#auth-form select,
#auth-form textarea {
	width:200px;
	border: 1px solid #CEE1E8;
	padding:4px;
}
#auth-form label {
	margin-bottom:10px;
	display:block;
}

#auth-form input:focus,
#auth-form select:focus,
#auth-form textarea:focus {
	border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

#auth-form textarea {
	height:150px;
	resize: none;
}

#auth-form .required {
	font-weight:bold;
	color:#F00;
}

#auth-form #submit-button {
	width: 100px;
	background-color:#333;
	color:#FFF;
	border:none;
	display:block;
	float:right;
	margin-bottom:0px;
	margin-right:10px;
	background-color:#8FB5C1;
}

#auth-form #submit-button:hover {
	background-color: #A6CFDD;
}

#auth-form #submit-button:active {
	position:relative;
	top:1px;
}

