body {background: #fff; color: #222; font-size: 11px; height: auto; padding-bottom: 20px;}

a {color: #2B587A; text-decoration: none;}

a:hover {text-decoration: underline;}

p {overflow: hidden;  padding: 5px 0;}
strong {font-weight:900;}

input {border: 1px solid #CEE1E8; padding:4px; float:left; background-color:#f7fbfa;}
input:focus {border: 1px solid #AFCDD8; background-color: #EBF2F4;}
.submit-button {color:#FFF; display:block; background-color:#6d8fb3; border:none;}
.submit-button:hover {background-color: #627aad;}
.submit-button:active {position:relative; top:1px;}


.container_16{background-repeat: repeat-y; margin-bottom: 20px; background-color:#fff;}

/* ================== HEADER ==================*/

.header {margin-top:10px;}
	.logo p a{color:#DAE1E8; font-size:38px;}
	.logo p a:hover{text-decoration:none;}

	.signin table {float:right; width:340px;}
	.signin input {width:120px;}
	.signin .submit-button {width:60px; height:23px; float:right;}

	.signin .check {width:15px; margin:4px 3px 0 0;}

.content {margin-top:50px;}
	.content h1 {border:none;}
	.index p {font-size:14px;}
	.index .textcenter {text-align:center;}

	.signup table, 							.resend_password table {margin-top:8px; width:340px;}
	.signup p, 								.resend_password p {font-size:12px;}
	.signup input, 							.resend_password input {width:270px; margin:0 0 8px 0; float:right; font-size:12px;}
	.signup .submit-button, 				.resend_password .submit-button {width:150px; height:23px; float:left; margin-left:5px;}
	.signup .error, 						.resend_password .error{border:1px solid #e89b88; background-color:#ffefe8; margin-top:8px; }
	.signup .error p, .signup .success p, 	.resend_password .error p, .resend_password .success p {padding:4px;}
	.signup .success, 						.resend_password .success {border:1px solid #9f9; background-color:#dfd; margin-top:8px; }

	.resend_password {}

.latest_news {margin-top:20px;}
	.latest_news p {border-bottom:1px solid #DAE1E8; background-color:#f7fbfa; padding:8px;}
	.latest_news a {color:#515961;}

.footer {margin-top:10px;}
	.footer p {text-align:center;}
	.footer a {}
